<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fieldnation">
    <!-- note! don't change versions here, change them in build.gradle! -->

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.workorder.MyWorkActivity"
            android:exported="false"
            android:process=":frontside" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:process=":frontside">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.market.MarketActivity"
            android:exported="false"
            android:process=":frontside" />
        <activity
            android:name=".ui.SignatureActivity"
            android:exported="false"
            android:label="@string/signature_title"
            android:process=":frontside"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.AuthActivity"
            android:exported="true"
            android:label="@string/activity_login_title"
            android:process=":frontside" />
        <activity
            android:name=".ui.workorder.WorkorderActivity"
            android:exported="true"
            android:label="@string/work_order_detail_title"
            android:process=":frontside">
            <intent-filter>
                <data
                    android:host="testlipo.fieldnation.com"
                    android:pathPrefix="/workorder/"
                    android:scheme="https" />
                <data
                    android:host="testlipo.fieldnation.com"
                    android:pathPrefix="/marketplace/"
                    android:scheme="https" />
                <data
                    android:host="testlipo.fieldnation.com"
                    android:pathPrefix="/wo/"
                    android:scheme="https" />
                <data
                    android:host="red.fieldnation.com"
                    android:pathPrefix="/workorder/"
                    android:scheme="https" />
                <data
                    android:host="red.fieldnation.com"
                    android:pathPrefix="/marketplace/"
                    android:scheme="https" />
                <data
                    android:host="red.fieldnation.com"
                    android:pathPrefix="/wo/"
                    android:scheme="https" />
                <data
                    android:host="fieldnation.com"
                    android:pathPrefix="/workorder/"
                    android:scheme="https" />
                <data
                    android:host="fieldnation.com"
                    android:pathPrefix="/marketplace/"
                    android:scheme="https" />
                <data
                    android:host="fieldnation.com"
                    android:pathPrefix="/wo/"
                    android:scheme="https" />
                <data
                    android:host="app.fieldnation.com"
                    android:pathPrefix="/workorder/"
                    android:scheme="https" />
                <data
                    android:host="app.fieldnation.com"
                    android:pathPrefix="/marketplace/"
                    android:scheme="https" />
                <data
                    android:host="app.fieldnation.com"
                    android:pathPrefix="/wo/"
                    android:scheme="https" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MessageListActivity"
            android:exported="false"
            android:label="@string/activity_message_list_title"
            android:process=":frontside" />
        <activity
            android:name=".ui.payment.PaymentListActivity"
            android:exported="false"
            android:label="@string/activity_payments_list_title"
            android:process=":frontside" />
        <activity
            android:name=".ui.payment.PaymentDetailActivity"
            android:exported="false"
            android:label="@string/activity_payments_list_title"
            android:process=":frontside" />
        <activity
            android:name=".ui.NotificationListActivity"
            android:exported="false"
            android:label="@string/activity_notifications_list_title"
            android:process=":frontside" />
        <activity
            android:name=".ui.workorder.WorkorderBundleDetailActivity"
            android:exported="false"
            android:label="@string/activity_bundle_detail_title"
            android:process=":frontside" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:label="@string/activity_settings_title"
            android:process=":frontside" />
        <activity
            android:name=".ui.SignOffActivity"
            android:exported="false"
            android:label="@string/activity_sign_off_title"
            android:process=":frontside" />
        <activity
            android:name=".ui.SignatureDisplayActivity"
            android:exported="false"
            android:label="@string/activity_signature_info_title"
            android:process=":frontside" />

        <service
            android:name=".service.auth.AuthService"
            android:exported="true"
            android:process=":backside">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".rpc.server.SyncService"
            android:exported="true"
            android:process=":backside">
            <intent-filter>com.fieldnation.service
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <!--topics-->
        <service
            android:name=".service.topics.TopicService"
            android:exported="false"
            android:process=":topics" />

        <!--web/data-->
        <service
            android:name=".service.auth.AuthTopicService"
            android:exported="false"
            android:process=":backside" />
        <service
            android:name=".service.transaction.WebTransactionService"
            android:exported="false"
            android:process=":backside" />
        <service
            android:name=".service.data.photo.PhotoDataService"
            android:exported="false"
            android:process=":backside" />
        <service
            android:name=".service.data.profile.ProfileService"
            android:exported="false"
            android:process=":backside" />
        <service
            android:name=".service.data.workorder.WorkorderService"
            android:exported="false"
            android:process=":backside" />
        <service
            android:name=".service.data.payment.PaymentDataService"
            android:exported="false"
            android:process=":backside" />
        <service
            android:name=".service.objectstore.ObjectStoreService"
            android:exported="false"
            android:process=":backside" />
        <service
            android:name=".service.crawler.WebCrawlerService"
            android:exported="false"
            android:process=":backside" />

        <provider
            android:name=".rpc.server.StubProvider"
            android:authorities="com.fieldnation.service"
            android:exported="false"
            android:syncable="true" />

        <receiver
            android:name=".service.crawler.AlarmBroadcastReceiver"
            android:process=":backside" />
    </application>

</manifest>