<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fieldnation">
    <!-- note! don't change versions here, change them in build.gradle! -->

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.workorder.MyWorkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.market.MarketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignatureActivity"
            android:exported="false"
            android:label="@string/signature_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".auth.server.AuthActivity"
            android:exported="true"
            android:label="@string/activity_login_title" />
        <activity
            android:name=".ui.workorder.WorkorderActivity"
            android:exported="true"
            android:label="@string/work_order_detail_title">
            <intent-filter>
                <data
                    android:host="testlipo.fieldnation.com"
                    android:pathPrefix="/workorder/"
                    android:scheme="https" />
                <data
                    android:host="testlipo.fieldnation.com"
                    android:pathPrefix="/marketplace/"
                    android:scheme="https" />
                <data
                    android:host="testlipo.fieldnation.com"
                    android:pathPrefix="/wo/"
                    android:scheme="https" />
                <data
                    android:host="dev.fieldnation.com"
                    android:pathPrefix="/workorder/"
                    android:scheme="https" />
                <data
                    android:host="dev.fieldnation.com"
                    android:pathPrefix="/marketplace/"
                    android:scheme="https" />
                <data
                    android:host="dev.fieldnation.com"
                    android:pathPrefix="/wo/"
                    android:scheme="https" />
                <data
                    android:host="fieldnation.com"
                    android:pathPrefix="/workorder/"
                    android:scheme="https" />
                <data
                    android:host="fieldnation.com"
                    android:pathPrefix="/marketplace/"
                    android:scheme="https" />
                <data
                    android:host="fieldnation.com"
                    android:pathPrefix="/wo/"
                    android:scheme="https" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MessageListActivity"
            android:exported="false"
            android:label="@string/activity_message_list_title" />
        <activity
            android:name=".ui.payment.PaymentListActivity"
            android:exported="false"
            android:label="@string/activity_payments_list_title" />
        <activity
            android:name=".ui.payment.PaymentDetailActivity"
            android:exported="false"
            android:label="@string/activity_payments_list_title" />
        <activity
            android:name=".ui.NotificationListActivity"
            android:exported="false"
            android:label="@string/activity_notifications_list_title" />
        <activity
            android:name=".ui.workorder.WorkorderBundleDetailActivity"
            android:exported="false"
            android:label="@string/activity_bundle_detail" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:label="@string/activity_settings_title" />
        <activity
            android:name=".ui.SignOffActivity"
            android:exported="false"
            android:label="Sign Off" />
        <activity
            android:name=".ui.SignatureDisplayActivity"
            android:exported="false"
            android:label="Signature Info" />

        <service
            android:name=".auth.client.AuthTopicService"
            android:exported="false"
            android:process=":topic" />
        <service
            android:name=".auth.server.AuthService"
            android:exported="true"
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".rpc.server.DataService"
            android:exported="false"
            android:process=":data" />
        <service
            android:name=".topics.TopicService"
            android:exported="false"
            android:process=":topic" />
        <service
            android:name=".rpc.server.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>com.fieldnation.service
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".rpc.server.StubProvider"
            android:authorities="com.fieldnation.service"
            android:exported="false"
            android:syncable="true" />

        <receiver android:name=".rpc.server.BootReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".rpc.server.ClockReceiver" />
    </application>

</manifest>