<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fieldnation"
    android:versionCode="2"
    android:versionName="0.002" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.fieldnation.GlobalState"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fieldnation.ui.market.MarketActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fieldnation.ui.workorder.MyWorkActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/mywork_title" >
        </activity>
        <activity
            android:name="com.fieldnation.auth.server.AuthActivity"
            android:exported="true"
            android:label="@string/activity_login_title" >
        </activity>
        <activity
            android:name="com.fieldnation.ui.workorder.WorkorderActivity"
            android:exported="false"
            android:label="@string/work_order_detail_title" >
        </activity>
        <activity
            android:name="com.fieldnation.ui.MessageListActivity"
            android:exported="false"
            android:label="@string/activity_message_list_title" >
        </activity>
        <activity
            android:name="com.fieldnation.ui.payment.PaymentListActivity"
            android:exported="false"
            android:label="@string/activity_payments_list_title" >
        </activity>
        <activity
            android:name="com.fieldnation.ui.payment.PaymentDetailActivity"
            android:exported="false"
            android:label="@string/activity_payments_list_title" >
        </activity>
        <activity
            android:name="com.fieldnation.ui.NotificationListActivity"
            android:exported="false"
            android:label="@string/activity_notifications_list_title" >
        </activity>
        <activity
            android:name="com.fieldnation.ui.workorder.WorkorderBundleDetailActivity"
            android:exported="false"
            android:label="@string/activity_bundle_detail" >
        </activity>

        <provider
            android:name="com.fieldnation.rpc.server.StubProvider"
            android:authorities="com.fieldnation.service"
            android:exported="false"
            android:syncable="true" >
        </provider>

        <service
            android:name="com.fieldnation.auth.server.AuthService"
            android:exported="true"
            android:process="" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <receiver
            android:name="com.fieldnation.rpc.server.BootReciever"
            android:process="" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.fieldnation.rpc.server.ClockReceiver"
            android:process="" >
        </receiver>

        <service
            android:name="com.fieldnation.rpc.server.DataService"
            android:exported="false"
            android:process="" >
        </service>
        <service
            android:name="com.fieldnation.rpc.server.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
com.fieldnation.service
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name="com.fieldnation.ui.SettingsActivity"
            android:exported="false"
            android:label="@string/settings" >
        </activity>
    </application>

</manifest>